<div class="bg-white px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-6xl">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid max-w-xl grid-cols-1 gap-8 text-base/7 text-gray-700 lg:max-w-none lg:grid-cols-2">
        <div>
          <h2 class="mt-2 mb-5 text-4xl tracking-tight text-pretty sm:text-3xl small-caps text-blue">
            Impfen JA, aber mit Verstand
          </h2>
          <p>
            Wann benötigen Hunde und Katzen eine Auffrischimpfung? Regelmässig jährlich oder erst dann, wenn der
            Impfschutz nicht mehr ausreicht? Der immunoCHECK bietet eine gesicherte Antikörpertiter Bestimmung und hilft
            so, die richtige Entscheidung zu treffen – zum Schutz und Wohle der Tiere.
          </p>

          <p class="mt-4">
            Die Grundimmunisierung bei Welpen ist für das ganze Leben von ausserordentlicher Wichtigkeit. Sie legt den
            Grundstein für eine belastbare Immunität des Tieres gegen die wichtigsten Infektionskrankheiten. Daher ist
            auf eine vollständige Grundimmunisierung des Welpen zu achten. Die aktuellen Impf-Richtlinien für Hunde und
            Katzen empfehlen, geimpfte Jungtiere 14 Tage nach Beendigung der Grundimmunisierung (nach der 16. Woche) auf
            Antikörpertiter zu untersuchen. Bei erwachsenen Tieren wird eine Messung der Antikörpertiter zur Bestimmung
            des Impfstatus als gleichwertige Alternative empfohlen.
          </p>
        </div>
        <div>
          <h2 class="mt-2 mb-5 text-4xl tracking-tight text-pretty sm:text-3xl small-caps text-blue">
            Impfschutz sicherstellen
          </h2>
          <p>
            Mit dem immunoCHECK können Sie als Tierhalter überprüfen, ob der Impfschutz Ihres Tieres noch ausreichend
            ist, oder ob Ihr Tier eine Auffrischimpfung benötigt. Die Immunantwort kann von Tier zu Tier unterschiedlich
            in Bezug auf Schutz-Stärke und -Dauer ausfallen, weshalb eine Antikörpertiter-Bestimmung sinnvoll ist. Mit
            dem immunoCHECK bieten wir Antikörpertiter-Bestimmungen an und weisen beim Hund die Antikörper gegen
            Parvovirose, Staupe und Hepatitis und bei der Katze gegen Panleukopenie, Herpes und Calicivirus nach, zum
            Wohle und Schutz Ihres Tieres.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white px-4 sm:px-6 lg:px-8 mt-9">
  <div class="mx-auto max-w-6xl">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid max-w-xl grid-cols-1 gap-8 text-base/7 text-gray-700 lg:max-w-none lg:grid-cols-2">
        <div>
          <h2 class="mt-2 mb-5 text-4xl tracking-tight text-pretty sm:text-3xl small-caps text-blue">
            Welche Antikörpertitter werden gemessen
          </h2>
          <div>
            <p>Beim Hund werden die Antikörpertiter gemessen gegen:</p>
            <dl class="col-span-3 grid grid-cols-1 gap-x-8 text-base/7 text-gray-600 mb-5">
              <div class="relative pl-7">
                <dt class="font-semibold text-gray-900">
                  <svg
                    class="absolute top-1 left-0 size-5 text-blue"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Staupe <span class="text-gray-500 font-normal"> | Canine Parvovirus – CPV</span>
                </dt>
              </div>
              <div class="relative pl-7">
                <dt class="font-semibold text-gray-900">
                  <svg
                    class="absolute top-1 left-0 size-5 text-blue"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Hepatitis <span class="text-gray-500 font-normal"> | Hepatitis Contagiosa Canis – HCC</span>
                </dt>
              </div>
              <div class="relative pl-7">
                <dt class="font-semibold text-gray-900">
                  <svg
                    class="absolute top-1 left-0 size-5 text-blue"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Parvovirose <span class="text-gray-500 font-normal"> | Feline Panleukopenie Virus – FPV</span>
                </dt>
              </div>
            </dl>
          </div>
          <div>
            <p>Beim Hund werden die Antikörpertiter gemessen gegen:</p>
            <dl class="col-span-3 grid grid-cols-1 gap-x-8 text-base/7 text-gray-600 mb-5">
              <div class="relative pl-7">
                <dt class="font-semibold text-gray-900">
                  <svg
                    class="absolute top-1 left-0 size-5 text-blue"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Herpes <span class="text-gray-500 font-normal"> | Feline Herpesvirus 1 – FeHV-1</span>
                </dt>
              </div>
              <div class="relative pl-7">
                <dt class="font-semibold text-gray-900">
                  <svg
                    class="absolute top-1 left-0 size-5 text-blue"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Calicivirus <span class="text-gray-500 font-normal"> | Feline Calicivirus – FCV</span>
                </dt>
              </div>
              <div class="relative pl-7">
                <dt class="font-semibold text-gray-900">
                  <svg
                    class="absolute top-1 left-0 size-5 text-blue"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Panleukopenie <span class="text-gray-500 font-normal"> | Feline Panleukopenie Virus – FPV</span>
                </dt>
              </div>
            </dl>
            <p>
              Ein positiver Befund bedeutet, dass keine Auffrischimpfung nötig ist, da genügend Antikörper im Blut sind
              und somit ein ausrechender Impfschutz gegen den entsprechenden Erreger vorhanden ist.
            </p>
          </div>
        </div>
        <div>
          <h2 class="mt-2 mb-5 text-4xl tracking-tight text-pretty sm:text-3xl small-caps text-blue">
            Und so funktionierts...
          </h2>
          <ol class="list-decimal pl-5">
            <li>Nach der Bestellung erhalten Sie das Blut-Pro- beröhrchen bequem nach Hause gesandt.</li>
            <li>
              Lassen Sie vom Tierarzt eine Blutprobe Ihres Tieres entnehmen und schicken Sie uns das Blut-Proberöhrchen
              sowie das ausgefüllte For- mular mit den Angaben zum Tier zur Analyse per Post zurück.
            </li>
            <li>
              Kleben Sie die beiliegende und vorfrankierte Rücksende-Etikette auf die Verpackung und werfen Sie das
              Päckchen in einen Briefkasten der Post.
            </li>
            <li>In 3 bis 5 Arbeitstagen erhalten Sie das Resultat per E-Mail zugestellt.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-full flex items-center px-4 sm:px-6 lg:px-8 my-20">
  <div class="mx-auto w-full max-w-6xl">
    <div class="border-b border-gray-200">
      <nav class="flex gap-x-1" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
        <button
          type="button"
          class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue focus:outline-none disabled:opacity-50 disabled:pointer-events-none active hs-tab-active"
          id="tabs-with-icons-item-1"
          aria-selected="true"
          data-hs-tab="#tabs-with-icons-1"
          aria-controls="tabs-with-icons-1"
          role="tab"
        >
            <svg class="shrink-0 size-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
          FAQ
        </button>
        <button
          type="button"
          class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
          id="tabs-with-icons-item-2"
          aria-selected="false"
          data-hs-tab="#tabs-with-icons-2"
          aria-controls="tabs-with-icons-2"
          role="tab"
        >
            <svg class="shrink-0 size-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
          Informationen
        </button>
      </nav>
    </div>

    <div class="mt-3">
      <div id="tabs-with-icons-1" role="tabpanel" aria-labelledby="tabs-with-icons-item-1">
        <p class="text-gray-500">Kann ich den bei microsTECH gekauften wurmCHECK und immunoCHECK noch einsenden?

        Aus Kulanz werden wir diese CHECKs, welche bis Ende September 2022 bei uns eingegangen sind, noch verarbeiten.
        
        Wie stelle ich fest, ob ein CHECK noch bei microsTECH gekauft
        wurde?
        
        Wenn die Adresse auf der im Test-Kit enthaltenen vorfrankierten Rücksende-Etikette an «microsTECH» adressiert ist, ist für dessen Verarbeitung der Artikel «Vorauszahlung zur Verarbeitung von bei microsTECH gekauften wurmCHECK und immunoCHECK nach dem 01.10.2022» vor Einsenden einer Kot- oder Blutprobe zu kaufen und zu bezahlen.
        
        Mit welcher Analyse-Methode arbeitet der wurmCHECK-Test?
        
        Der wurmCHECK-Test verwendet modernste DNA-Analytik. Dabei wird das Erbmaterial (DNA) der
        Parasiten im Kot nachgewiesen.
        
        Wieviel Kot wird beim wurmCHECK-Test analysiert?
        
        Beim wurmCHECK-Test wird die gesamte eingesandte Kot-Menge untersucht (Sammelprobe aus drei Tagen, eine erbsengrosse Kot-Probe pro Tag), was die Sensitivität der DNA-Analyse
        erhöht. 
        
        Weshalb soll an drei aufeinanderfolgenden Tagen eine Kot-Probe genommen werden?
        
        Parasiten scheiden ihre Eier intermittierend aus, d.h. nicht jeden Tag. Um sicherzustellen, dass vorhandene Parasiten nachgewiesen werden können, empfehlen wir, Kot an drei aufeinanderfolgenden Tagen zu sammeln.
        
        Welche Parasiten werden vom wurmCHECK-Test analysiert?
        
        Der wurmCHECK-Test weist, sowohl Helminthen (parasitäre Würmer) als auch Protozoen (Einzeller) im Kot nach.
        
        Beim Hund sind dies:
        
        * Giardien (Einzeller) (Giardia canis; Giardia intestinalis)
        * Französischer Herzwurm (Angiostrongylus vasorum)
        * Lungenwürmer (Crenosoma vulpis)
        * Spulwürmer (Toxocara canis)
        * Hakenwürmer (Ancylostoma caninum, Uncinaria stenocephala)
        * Peitschenwürmer (Trichuris vulpis)
        * Bandwürmer (Echinococcus granulosus, Echinococcus multilocularis, Dipylidium caninum)
        
        Bei der Katze sind dies:
        
        * Katzenleberegel (Saugwürmer) (Opisthorchis felineus)
        * Giardien (Einzeller) (Giardia canis; Giardia intestinalis)
        * Tritrichomonas foetus (Einzeller)
        * Lungenwürmer (Aelurostrongylus abstrusus)
        * Spulwürmer (Toxocara cati)
        * Hakenwürmer (Ancylostoma tubaeformae, Uncinaria stenocephala)
        * Peitschenwürmer (Trichuris vulpis)
        * Bandwürmer (Echinococcus granulosus, Echinococcus multilocularis, Dipylidium caninum, Taenia taeniaeformis)
        
        Was muss ich bei einem positiven Befund tun?
        
        Ein positiver Befund bedeutet, dass wir Parasiten nachgewiesen haben. Wir teilen Ihnen mit, welche/n Parasiten nachgewiesen wurde, damit eine fachgerechte und gezielte Behandlung des nachgewiesenen Parasiten durch Ihren Tierarzt durchgeführt werden kann.
        
        Wie lange wirkt eine Wurmtablette?
        
        Gerne verweisen wir Sie auf die Aussage von Dr. med. vet. Stefan Schellenberg, Tierklinik Aarau West, anlässlich der Sendung „tierisch“, 24.-31.Oktober auf Tele M1: „Die Wurmtablette wirkt während 24h. Das Tier kann sich also bereits 2 Tage später wieder mit Wurmeiern infizieren, welche 3-5 Wochen benötigen bis sie sich zu adulten Würmern entwickelt haben. Diese wiederum können dann Wurmeier ausscheiden.“
        
        Sind Sie gegen die Entwurmung?
        
        Nein, keinesfalls. Unser Ziel ist es, die fachgerechte Therapie sowie die Prävention vor Infektionen mit Würmern und deren Folgen durch unsere Diagnostik zu unterstützen. Eine therapeutische Behandlung ist immer dann notwendig, wenn bei Hund und Katze ein Parasit diagnostiziert wird. Voraussetzung für eine sachgerechte Behandlung ist die Identifikation des Parasiten.
        
        Haben Sie Fragen, die hier nicht beantwortet wurden?
        
        Dann freuen wir uns auf Ihre Frage zeitunabhängig via unser Kontaktformular und per E-Mail an info@genuine-analytics.ch oder zu Labor-Öffnungszeiten unter Tel. 062 212 55 00.
        
        Ihr Genuine-Analytics-Team</p>
      </div>
      <div id="tabs-with-icons-2" class="hidden" role="tabpanel" aria-labelledby="tabs-with-icons-item-2">
        <p class="text-gray-500">
            Wie ist die Häufigkeit der Parasiten in der Schweiz?

            Eine Studie der Universität Bern zeigt, dass 67 von 100 NICHT-entwurmten Hunden (also die Mehrheit) Parasiten-frei sind. Lediglich 33 von 100 nicht-entwurmten Hunde haben Parasiten.
            Quelle: Coprological study on intestinal helminths in Swiss dogs: temporal aspects of anthelminthic treatment - PubMed (nih.gov)
            
            Garantiert eine (strategische) Entwurmung, dass mein Tier Parasiten-frei ist und bleibt?
            
            Eine Studie der Universität Bern zeigt, dass von 100 "strategisch entwurmten" Hunden immer noch 17 Hunde Parasiten haben. D.h. eine Wurmbehandlung hat keine 100% Wirkung. Sie halbiert den Parasitenbefall lediglich um ca. 50%, von 33% bei nicht- entwurmten Hunden auf 17% bei strategisch entwurmten Hunden. Die Entwurmung kann, wenn überhaupt gegen bestehende Parasiten wirken, schützt aber nicht vor einer weiteren Infektion.
            
            Quelle : Coprological study on intestinal helminths in Swiss dogs: temporal aspects of anthelminthic treatment - PubMed (nih.gov)
            
            Gibt es im Winter weniger Parasiten als im Sommer?
            
            Eine Studie mit 39 Millionen analysierten Kotproben in den Jahren 2012-2018 zeigt, dass z.B. Hakenwürmer vor allem in den warmen Monaten und Spulwürmer in den kalten Monaten vorkommen. Zudem gibt es viele andere Parasiten, die in der Studie nicht analysiert wurden. Man kann also sagen, dass zu jeder Jahreszeit irgendein Parasit Hochsaison hat.
            
            Quelle: Seasonality and changing prevalence of common canine gastrointestinal nematodes in the USA - PubMed (nih.gov)
            
            Welche Analyse-Methoden gibt es zum Parasiten-Nachweis
            im Kot und wie empfindlich sind diese?
            
            Mit der immer noch sehr verbreiteten, klassischen Methode "Flotation mit Mikroskop" wird die Probe suspendiert, wobei die Parasiten (Eier, Laven, Würmer, etc.) aufsteigen, unter dem Mikroskop angeschaut und mit Referenzbildern verglichen und zugeordnet werden.
            Der wurmCHECK arbeitet mit der modernen PCR-Methode, mit welcher das Erbmaterial der Parasiten im Kot genetisch eindeutig nachgewiesen wird. In einer Studie wurden 127 Hunde- und 68 Katzen-Studien auf die Empfindlichkeit, Giardien mittels Mikroskopie oder PCR nachzuweisen, verglichen. Die Ergebnisse zeigten, dass die PCR-Methode alle infizierten Proben nachweisen konnte und dass diese Methode 2.6 bis 3.7 Mal empfindlicher sei als die
            Mikroskope-Methode.

        </p>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('[role="tab"]');
        const tabPanels = document.querySelectorAll('[role="tabpanel"]');
      
        tabs.forEach(tab => {
          tab.addEventListener('click', function () {
            // Remove active class from all tabs
            tabs.forEach(t => t.classList.remove('hs-tab-active'));
            // Add active class to the clicked tab
            tab.classList.add('hs-tab-active');
      
            // Hide all tab panels
            tabPanels.forEach(panel => panel.classList.add('hidden'));
            // Show the corresponding tab panel
            const tabPanel = document.querySelector(tab.getAttribute('data-hs-tab'));
            tabPanel.classList.remove('hidden');
          });
        });
      });
</script>