<div class="h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8 group">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Konto erstellen</h1>
        </div>
        {% form 'create_customer' %}
            {% if form.errors %}
                <div class="relative border border_red_400 bg-red-100 700 px4 py-3" role="alert">
                    <strong class="font-bold">Error!</strong>
                    <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                </div>
            {% endif %}
            <div class="my-4">
                <label for="first_name" class="sr-only">Vorname</label>
                <input type="text"
                    name="customer[first_name]"
                    id="first_name"
                    autocomplete="given-name"
                    class="relative block w-full px-3 py-2 border"
                    placeholder="Vorname"
                >
            </div>

            <div class="my-4">
                <label for="last_name" class="sr-only">Nachname</label>
                <input type="text"
                    name="customer[last_name]"
                    id="last_name"
                    autocomplete="family-name"
                    class="relative block w-full px-3 py-2 border"
                    placeholder="Nachname"
                >
            </div>

            <div class="my-4">
                <label for="email_address" class="sr-only">E-Mail</label>
                <input type="email"
                    name="customer[email]"
                    id="email_address"
                    autocomplete="email"
                    class="relative block w-full px-3 py-2 border"
                    placeholder="Email address"
                >
            </div>

            <div class="my-4">
                <label for="password" class="sr-only">Passwort</label>
                <input type="password"
                    name="customer[password]"
                    id="password"
                    autocomplete="new-password"
                    class="relative block w-full px-3 py-2 border"
                    placeholder="Passwort"
                >
            </div>
            <div class="flex justify-center">
                <button type="submit" class="mt-3 py-3 px-6 text-base font-medium text-white bg-gray-600 hover:bg-blue-900">
                    Erstellen
                </button>
            </div>
        {% endform %}
    </div>
</div>
