<section class="bg-white flex justify-center px-4 sm:px-6 lg:px-8 pt-16">
    <div class="max-w-6xl w-full">
        <div class="flex flex-col-reverse lg:grid items-center gap-8 mb-8 lg:mb-16 lg:gap-12 lg:grid-cols-12">
            <div class="col-span-7 text-center sm:mb-6 lg:text-left lg:mb-0">
                <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-900 xl:text-6xl ">immuno<span class="text-blue uppercase">Check</span></h1>
                <p class="max-w-xl mx-auto mb-6 font-light text-gray-500 lg:mx-0 xl:mb-8 md:text-lg">Sie möchten nur bei einem tatsächlichen Bedarf impfen und nicht prophylaktisch? Unser immunoCHECK hilft Ihnen dabei! immunoCHECK hilft durch Antikörpertiter-Bestimmung in der Blutprobe einen noch vorhandenen Impfschutz festzustellen und unnötige (Auffrisch-)Impfungen zu vermeiden.</p>      
            </div>
            <div class="col-span-5">
                <img src="{{ collection.featured_image | image_url }}" class="h-full max-h-96 lg:h-full object-cover" alt="mockup">
            </div>
        </div>
    </div>
</section>


{% paginate collection.products by section.settings.number_of_products_per_page %}
    <div class="bg-white mb-20 px-4 sm:px-6 lg:px-8 w-full">
        <div class="w-full mx-auto max-w-6xl">
            <h1 class="text-2xl w-full border-b border-gray-200 pb-4 font-bold tracking-tight text-gray-700">{{ collection.title }} Produkte</h1>
      
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {% for product in collection.products %}

                {% render 'product-card', product: product %}

            {% else %}
                <p>No products found.</p>
            {% endfor %}
            </div>
        </div>
    </div>
{% endpaginate %}

{% schema %}

{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "label": "Number of products per page",
      "default": 6
    },
    {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph"
      }
  ],

}

{% endschema %}