{% paginate collection.products by section.settings.number_of_products_per_page %}
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>
      
          <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
  {% for product in collection.products %}

    {% render 'product-card', product: product %}

  {% else %}
    <p>No products found.</p>
  {% endfor %}
</div>
</div>
</div>

{% endpaginate %}

{% schema %}

{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "label": "Number of products per page",
      "default": 6
    }
  ],

}

{% endschema %}