<head>
    <!-- Other head elements -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<div class="h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8" x-data="{ loginForm: true, pwRecoverForm: false }">
    <div x-show="loginForm" class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Login</h1>
        </div>
        <div class="mt-8"></div>
        {% form 'customer_login' %}
            {% if form.errors %}
                <div class="relative border border_red_400 bg-red-100 700 px4 py-3" role="alert">
                    <strong class="font-bold">Error!</strong>
                    <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                </div>
                {% endif %}
            <div class="my-2">
                <label for="email_address" class="sr-only">E-Mail</label>
                <input type="email"
                    name="customer[email]"
                    id="email_address"
                    autocomplete="email"
                    class="relative block w-full px-3 py-2 border"
                    placeholder="Email addresse"
                >
            </div>

            {% if form.password_needed %}
                <div class="my-2">
                    <label for="password" class="sr-only">Passwort</label>
                    <input type="password"
                        name="customer[password]"
                        id="password"
                        autocomplete="current-password"
                        class="relative block w-full px-3 py-2 border"
                        placeholder="Passwort"
                    >
                </div>
            {% endif %}
            <div class="my-2 text-sm">
                <a x-on:click=" loginForm = false; pwRecoverForm = true" href="#" class="underline text-gray-500 hover:text-gray-900">
                  Haben Sie Ihr Passwort vergessen?   
                </a>
            </div>
            <div class="flex flex-col items-center mt-6">
                <button type="submit" class="py-2 px-4 text-sm font-medium text-white bg-black">
                    Anmelden
                </button>
                <a href="#" class="mt-2 underline">Konto erstellen</a>
            </div>
        {% endform %}
    </div>

    <div x-show="pwRecoverForm" class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-center text-4xl font-bold mt-6">Setzten Sie Ihr Passwort zurück</h1>
        </div>
        <p class="text-center">Wir werden Ihnen eine E-Mail zum Zurücksetzen Ihres Passworts schicken</p>
        
        {% form 'recover_customer_password' %}
            {% if form.errors %}
                <div class="relative border border_red_400 bg-red-100 700 px4 py-3" role="alert">
                    <strong class="font-bold">Error!</strong>
                    <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                </div>
                {% endif %}

            <div class="my-2">
                <label for="email" class="sr-only">E-Mail</label>
                <input type="email"
                    name="email"
                    id="email"
                    autocomplete="email"
                    class="relative block w-full px-3 py-2 border"
                    placeholder="Email address"
                >
            </div>
            <div class="flex flex-col items-center mt-6">
                <button type="submit" class="py-2 px-6 text-sm font-medium text-white bg-black">
                    Senden
                </button>
                <div class="mt-2 text-sm">
                    <a x-on:click="loginForm = true; pwRecoverForm = false" href="#" class="mt-2 underline">Abbrechen</a>
                </div>
            </div>
            

            
        {% endform %}
    </div>
</div>