/* Scroll bar */
/* width */
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
  
  /* Track */
::-webkit-scrollbar-track{
    background: lightgray;
}
  
  /* Handle */
::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:horizontal{
    background: gray;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #48b7cd;
}
/* Existing styles */
.small-caps {
    font-variant: small-caps;
}

.hs-tab-active {
  color: #48b7cd; /* Tailwind's blue-600 color */
  font-weight: 600; /* Make the text bold */
  border-color: #48b7cd; /* Add border color for active state */
}
